h1 {
    text-align: center;
}

body {
    background-color: #ebe8e8;
    font-family: Roboto;
}

@media(max-width: 750px){
    .card {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding: 10px;
        width: 70%;
        background-color: #ebe8e8;
        box-shadow: -5px -5px 7px rgb(255,255,255),
                    3px 3px 10px rgb(160, 160, 160);
    }
      
#total, #totalNotes {
    display: block;
    margin: 5px 50px;
    }
}

.card {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color: #ebe8e8;
    box-shadow: -5px -5px 7px rgb(255,255,255),
                3px 3px 10px rgb(104, 103, 103);
}

.evenlySpaced {
    /*
    background-color: #b7bcc0;
    */
    display: flex;
    
    
}
.labelOne {
    text-align: right;
    width: 25%;
    height: 18px;
    padding: 5px 1px;/*
    background-color: #b7bcc0;
    */
    margin-top: 3px;
}

.labelTwo {
    padding: 5px 1px;
    color: red; /*
    background-color: #b7bcc0; 
    */
    margin-top: 3px;
}

input {
    padding: 8px;
    width: 30%;
    height: 15px;
    margin: 3px;
    background-color: #ebe8e8;
    font-weight: 550;
    border-radius: 25px;
    border: none;
    box-shadow: inset 3px 3px 6px rgb(104, 103, 103),
                inset -5px -5px 7px rgb(255,255,255);
}

.labelThree {
    padding: 5px 1px;
    width: 50%;
    text-align: center;
    margin-top: 3px;
}

button {
    border: none;
    border-radius: 5px;
    margin: 5px;
    color: red;
    padding: 10px;
    background-color: #ebe8e8;
    box-shadow: -5px -5px 7px rgb(255,255,255),
                3px 3px 10px rgb(104, 103, 103);
}

button:active {
    box-shadow: inset 3px 3px 6px rgb(104, 103, 103),
                inset -5px -5px 7px rgb(255,255,255);
}

#total, #totalNotes {
    display: block;
    margin: 5px 50px;
}


